*, *::before, *::after {
	box-sizing: border-box;
}

body {
	background-color: #181824;
}

#main-container {
	max-width: 75vw;
	margin: 4rem auto;
}

.big-title {
	font-size: 30px;
	text-align: center;
	margin-bottom: 2rem;
	color: #d0d0e8;
}

#podcasts {
	column-count: 3;
	column-fill: balance;
	column-gap: 1rem;
}

.podcast {
	break-inside: avoid-column;
	margin-bottom: 1rem;

	padding-left: 2rem;
	padding-right: 2rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;

	background-color: #303040;
}

.podcast h2, #podcast h2 {	
	white-space: pre-wrap;
	word-wrap: break-word;

	color: #9090aa;
}

.podcast p, #podcast p {	
	white-space: pre-wrap;
	word-wrap: break-word;

	color: #787894;
}

.podcast a, #podcast a {	
	white-space: pre-wrap;
	word-wrap: break-word;

	color: #dcac55;
	text-decoration: none;
}

.search-bar {
	position: relative;
	left: calc(50% - 400px/2);
	margin: 0 auto;
}

.search-bar input#search {
	position: absolute;
	left: 0;

	width: 350px;
	height: 50px;
	background: #20202f;
	color: #fff;
	border: none;
	padding-left: 15px;

	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.search-bar input#search::-webkit-input-placeholder {
	color: rgb(128,128,160);
}
 
.search-bar input#search:-moz-placeholder { /* Firefox 18- */
	color: rgb(128,128,160);  
}
 
.search-bar input#search::-moz-placeholder {  /* Firefox 19+ */
	color: rgb(128,128,160);  
}
 
.search-bar input#search:-ms-input-placeholder {  
	color: rgb(128,128,160);  
}

.search-bar button.icon {
	position: absolute;
	left: 350px;
	background: #20202f;
	height: 50px;
	width: 50px;
	color: rgb(96,96,127);
	border: none;
	
	-webkit-border-top-right-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-moz-border-radius-bottomright: 5px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}

.search-bar:hover button.icon:hover span.rotate {
	-webkit-transition: transform .55s ease-in-out;
	-moz-transition: transform .55s ease-in-out;
	-ms-transition: transform .55s ease-in-out;
	-o-transition: transform .55s ease-in-out;
	transition: transform .55s ease-in-out;
	transform: rotate(360deg);
	transform-style: flat;
}